<div
  class="render-container"
  #renderContainer
  (window:resize)="windowResized.emit()"
  (panleft)="rainService.nextCharacter()"
  (panright)="rainService.previousCharacter()"
></div>

<div
  class="loader"
  [class.loader--invisible]="rainService.state$.isStageSetup | async"
>
  <span class="loader__text">
    Loading assets: {{ loadingProgress$ | async }}%
  </span>
</div>

<!-- uncomment to handle speed by holding -->
<!-- (should be applied to renderContainer): -->
<!-- (mousedown)="setIsMouseDown(true)" -->
<!-- (touchstart)="setIsMouseDown(true)" -->
<!-- (mouseup)="setIsMouseDown(false)" -->
<!-- (touchend)="setIsMouseDown(false)" -->
